@import 'iconfont.css';
.container,
.container-fluid {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 0;
  box-sizing: border-box;
}
.container-fluid {
  width: 100%;
}
@media all and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media all and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media all and (min-width: 992px) {
  .container {
    width: 992px;
  }
}
@media all and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.row {
  margin-left: -15px;
  margin-right: -15px;
  min-height: 1px;
}
.row::after {
  content: '';
  display: block;
  clear: both;
}
.col-xs-1 {
  float: left;
  width: 8.33333333%;
  box-sizing: border-box;
}
.col-xs-2 {
  float: left;
  width: 16.66666667%;
  box-sizing: border-box;
}
.col-xs-3 {
  float: left;
  width: 25%;
  box-sizing: border-box;
}
.col-xs-4 {
  float: left;
  width: 33.33333333%;
  box-sizing: border-box;
}
.col-xs-5 {
  float: left;
  width: 41.66666667%;
  box-sizing: border-box;
}
.col-xs-6 {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
.col-xs-7 {
  float: left;
  width: 58.33333333%;
  box-sizing: border-box;
}
.col-xs-8 {
  float: left;
  width: 66.66666667%;
  box-sizing: border-box;
}
.col-xs-9 {
  float: left;
  width: 75%;
  box-sizing: border-box;
}
.col-xs-10 {
  float: left;
  width: 83.33333333%;
  box-sizing: border-box;
}
.col-xs-11 {
  float: left;
  width: 91.66666667%;
  box-sizing: border-box;
}
.col-xs-12 {
  float: left;
  width: 100%;
  box-sizing: border-box;
}
@media all and (max-width: 480px) {
  .col-xs-1 {
    float: left;
    width: 8.33333333%;
    box-sizing: border-box;
  }
  .col-xs-2 {
    float: left;
    width: 16.66666667%;
    box-sizing: border-box;
  }
  .col-xs-3 {
    float: left;
    width: 25%;
    box-sizing: border-box;
  }
  .col-xs-4 {
    float: left;
    width: 33.33333333%;
    box-sizing: border-box;
  }
  .col-xs-5 {
    float: left;
    width: 41.66666667%;
    box-sizing: border-box;
  }
  .col-xs-6 {
    float: left;
    width: 50%;
    box-sizing: border-box;
  }
  .col-xs-7 {
    float: left;
    width: 58.33333333%;
    box-sizing: border-box;
  }
  .col-xs-8 {
    float: left;
    width: 66.66666667%;
    box-sizing: border-box;
  }
  .col-xs-9 {
    float: left;
    width: 75%;
    box-sizing: border-box;
  }
  .col-xs-10 {
    float: left;
    width: 83.33333333%;
    box-sizing: border-box;
  }
  .col-xs-11 {
    float: left;
    width: 91.66666667%;
    box-sizing: border-box;
  }
  .col-xs-12 {
    float: left;
    width: 100%;
    box-sizing: border-box;
  }
  .sm-hide {
    display: none;
  }
}
@media all and (min-width: 768px) {
  .col-sm-1 {
    float: left;
    width: 8.33333333%;
    box-sizing: border-box;
  }
  .col-sm-2 {
    float: left;
    width: 16.66666667%;
    box-sizing: border-box;
  }
  .col-sm-3 {
    float: left;
    width: 25%;
    box-sizing: border-box;
  }
  .col-sm-4 {
    float: left;
    width: 33.33333333%;
    box-sizing: border-box;
  }
  .col-sm-5 {
    float: left;
    width: 41.66666667%;
    box-sizing: border-box;
  }
  .col-sm-6 {
    float: left;
    width: 50%;
    box-sizing: border-box;
  }
  .col-sm-7 {
    float: left;
    width: 58.33333333%;
    box-sizing: border-box;
  }
  .col-sm-8 {
    float: left;
    width: 66.66666667%;
    box-sizing: border-box;
  }
  .col-sm-9 {
    float: left;
    width: 75%;
    box-sizing: border-box;
  }
  .col-sm-10 {
    float: left;
    width: 83.33333333%;
    box-sizing: border-box;
  }
  .col-sm-11 {
    float: left;
    width: 91.66666667%;
    box-sizing: border-box;
  }
  .col-sm-12 {
    float: left;
    width: 100%;
    box-sizing: border-box;
  }
  .sm-hide {
    display: none;
  }
}
@media all and (min-width: 992px) {
  .col-md-1 {
    float: left;
    width: 8.33333333%;
    box-sizing: border-box;
  }
  .col-md-2 {
    float: left;
    width: 16.66666667%;
    box-sizing: border-box;
  }
  .col-md-3 {
    float: left;
    width: 25%;
    box-sizing: border-box;
  }
  .col-md-4 {
    float: left;
    width: 33.33333333%;
    box-sizing: border-box;
  }
  .col-md-5 {
    float: left;
    width: 41.66666667%;
    box-sizing: border-box;
  }
  .col-md-6 {
    float: left;
    width: 50%;
    box-sizing: border-box;
  }
  .col-md-7 {
    float: left;
    width: 58.33333333%;
    box-sizing: border-box;
  }
  .col-md-8 {
    float: left;
    width: 66.66666667%;
    box-sizing: border-box;
  }
  .col-md-9 {
    float: left;
    width: 75%;
    box-sizing: border-box;
  }
  .col-md-10 {
    float: left;
    width: 83.33333333%;
    box-sizing: border-box;
  }
  .col-md-11 {
    float: left;
    width: 91.66666667%;
    box-sizing: border-box;
  }
  .col-md-12 {
    float: left;
    width: 100%;
    box-sizing: border-box;
  }
  .md-hide {
    display: none;
  }
}
@media all and (min-width: 1200px) {
  .col-lg-1 {
    float: left;
    width: 8.33333333%;
    box-sizing: border-box;
  }
  .col-lg-2 {
    float: left;
    width: 16.66666667%;
    box-sizing: border-box;
  }
  .col-lg-3 {
    float: left;
    width: 25%;
    box-sizing: border-box;
  }
  .col-lg-4 {
    float: left;
    width: 33.33333333%;
    box-sizing: border-box;
  }
  .col-lg-5 {
    float: left;
    width: 41.66666667%;
    box-sizing: border-box;
  }
  .col-lg-6 {
    float: left;
    width: 50%;
    box-sizing: border-box;
  }
  .col-lg-7 {
    float: left;
    width: 58.33333333%;
    box-sizing: border-box;
  }
  .col-lg-8 {
    float: left;
    width: 66.66666667%;
    box-sizing: border-box;
  }
  .col-lg-9 {
    float: left;
    width: 75%;
    box-sizing: border-box;
  }
  .col-lg-10 {
    float: left;
    width: 83.33333333%;
    box-sizing: border-box;
  }
  .col-lg-11 {
    float: left;
    width: 91.66666667%;
    box-sizing: border-box;
  }
  .col-lg-12 {
    float: left;
    width: 100%;
    box-sizing: border-box;
  }
  .lg-hide {
    display: none;
  }
}
/* html5 Reset Stylesheet */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
abbr,
img,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
  vertical-align: baseline;
  background: transparent;
  font-family: "Microsoft Yahei";
}
body {
  line-height: 1;
}
:focus {
  outline: 1;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
nav ul {
  list-style: none;
}
input,
select {
  vertical-align: middle;
}
a {
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
a:link,
a:hover,
a:visited {
  text-decoration: none;
}
/*媒体查询自适应*/
html {
  font-size: 10px;
}
@media all and (max-width: 480px) {
  html {
    font-size: 6px;
  }
}
@media all and (min-width: 480px) {
  html {
    font-size: 8px;
  }
}
@media all and (min-width: 768px) {
  html {
    font-size: 10px;
  }
}
@media all and (min-width: 992px) {
  html {
    font-size: 12px;
  }
}
@media all and (min-width: 1280px) {
  html {
    font-size: 14px;
  }
}
@media all and (min-width: 1400px) {
  html {
    font-size: 16px;
  }
}
html {
  background: #f4f4f4;
}
.nav {
  width: 100%;
  height: 80px;
  background: #70c570;
}
.nav .nav-logo {
  width: 35%;
  height: 80px;
  float: left;
}
.nav .nav-logo i {
  width: 220px;
  height: 40px;
  display: inline-block;
  margin-left: 24.8%;
  margin-top: 1.4rem;
  text-align: left;
  color: #fff;
}
.nav .nav-logo i span {
  line-height: 40px;
}
.nav .nav-logo i .logo-1 {
  font-weight: bold;
  font-size: 2.2rem;
}
.nav .nav-logo i .logo-2 {
  font-size: 1.4rem;
}
.nav .nav-bar {
  width: 65%;
  height: 80px;
  float: right;
}
.nav .nav-bar > ul {
  margin-top: 1.6rem;
  width: 100%;
  height: 35px;
  list-style: none;
  font-size: 1rem;
}
.nav .nav-bar > ul > li {
  margin: 0 10px;
  padding: 0 5px;
  height: 65px;
  float: left;
  text-align: center;
  line-height: 33px;
  font-weight: bold;
  color: #f1f1f1;
  z-index: 999;
}
.nav .nav-bar > ul > li:hover ul {
  display: block;
}
.nav .nav-bar > ul > li > a {
  padding: 5px 10px;
  position: relative;
  transition-property: transform;
  transition-duration: 0.3s;
}
.nav .nav-bar > ul > li > a:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 5%;
  height: 10px;
  width: 90%;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 80%);
  transition-duration: 0.3s;
}
.nav .nav-bar > ul > li > a:hover {
  cursor: pointer;
  background: #e26f2e;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 1px 3px 1px #4a8c4c;
  -moz-box-shadow: 1px 3px 1px #4a8c4c;
  -webkit-box-shadow: 1px 3px 1px #4a8c4c;
}
.nav .nav-bar > ul > li .forth {
  height: 12rem;
}
.nav .nav-bar > ul > li .active {
  height: 6rem;
}
.nav .nav-bar > ul > li > ul {
  width: 14rem;
  height: 9rem;
  position: absolute;
  z-index: 99999;
  top: 55px;
  left: 0;
  list-style: none;
  background: #e26f2e;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  box-shadow: 1px 2px 1px #4a8c4c;
  -moz-box-shadow: 1px 2px 1px #4a8c4c;
  -webkit-box-shadow: 1px 2px 1px #4a8c4c;
  display: none;
}
.nav .nav-bar > ul > li > ul:hover {
  left: 0;
}
.nav .nav-bar > ul > li > ul > li {
  width: 12rem;
  height: 2.5rem;
  margin-top: 5px;
  margin-left: 0.8rem;
  padding: 0 5px;
  float: left;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  background: rgba(232, 157, 122, 0.2);
}
.nav .nav-bar > ul > li > ul > li:hover {
  left: 0;
}
.nav .nav-bar > ul > li > ul > li > a {
  padding: 5px 10px;
}
.nav .nav-bar > ul > li > ul > li > a:hover {
  cursor: pointer;
  background: #6dc66c;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 1px 3px 1px #4a8c4c;
  -moz-box-shadow: 1px 3px 1px #4a8c4c;
  -webkit-box-shadow: 1px 3px 1px #4a8c4c;
}
@keyframes hover {
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(-6px);
  }
}
@keyframes hover-shadow {
  0% {
    transform: translateY(6px);
    opacity: 0.4;
  }
  50% {
    transform: translateY(3px);
    opacity: 1;
  }
  100% {
    transform: translateY(6px);
    opacity: 0.4;
  }
}
.hover-shadow {
  position: relative;
  transition-property: transform;
  transition-duration: 0.3s;
}
.hover-shadow:hover {
  transform: translateY(-6px);
  animation-name: hover;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.hover-shadow:hover:before {
  opacity: 0.4;
  transform: translateY(6px);
  animation-name: hover-shadow;
}
.hover-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 50%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 80%);
  transition-duration: 0.3s;
}
.bubble-top {
  position: relative;
}
.bubble-top:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  left: calc(10% - 10px);
  top: -10px;
  border-width: 0px 10px 10px 10px;
  border-color: transparent transparent #e26f2e transparent;
}
.carousel {
  position: relative;
}
.carousel .carousel-txt {
  width: 350px;
  height: 50px;
  background: #df562c;
  position: absolute;
}
.content {
  margin: 0 auto;
  width: 80%;
  height: 37.5rem;
}
.cont-one {
  margin-top: 1.85rem;
  height: 6.25rem;
  background: #f4f4f4;
}
.cont-one .content-txt {
  width: 75%;
  height: 6.25rem;
  float: left;
}
.cont-one .content-txt > span {
  margin-top: 1.25rem;
  margin-left: 1.5rem;
  display: inline-block;
  width: 45%;
  font-weight: 600;
  font-size: 1.62rem;
  color: #808483;
  line-height: 2.5rem;
  height: 2.5rem;
}
.cont-one .content-txt > p {
  margin-left: 1.5rem;
  width: 95%;
  height: 1.68rem;
  color: #606060;
  font-size: 0.85rem;
  line-height: 1.5rem;
}
.cont-one .content-txt > p:hover {
  color: #85d186;
  cursor: pointer;
  text-decoration: underline;
}
.cont-one .content-btn {
  width: 24.5%;
  height: 6.25rem;
  float: right;
}
.cont-one .content-btn > i {
  margin-top: 1.55rem;
  margin-left: 3.5rem;
  display: inline-block;
  width: 12.625rem;
  height: 3.438rem;
  text-align: center;
  line-height: 3.438rem;
  background: #e56a2e;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 1px 2px 1px #da5528;
  -moz-box-shadow: 1px 2px 1px #da5528;
  -webkit-box-shadow: 1px 2px 1px #da5528;
}
.cont-one .content-btn > i:hover {
  background: #85d186;
  box-shadow: 1px 2px 1px #88b284;
  -moz-box-shadow: 1px 2px 1px #88b284;
  -webkit-box-shadow: 1px 2px 1px #88b284;
}
.cont-one .content-btn > i > a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}
.cont-two {
  margin-top: 3rem;
  height: 24.5rem;
}
.cont-two .lf {
  margin-left: 51px;
}
.cont-two .one > i {
  background-image: url(../images/hp-logo-01_03.png);
  background-repeat: no-repeat;
  background-position: center;
}
.cont-two .two > i {
  background-image: url(../images/hp-logo-03_03.png);
  background-repeat: no-repeat;
  background-position: center;
}
.cont-two .three > i {
  background-image: url(../images/hp-logo-02_07.png);
  background-repeat: no-repeat;
  background-position: center;
}
.cont-two .four > i {
  background-image: url(../images/hp-logo-04_05.png);
  background-repeat: no-repeat;
  background-position: center;
}
.cont-two .panel {
  width: 17.18rem;
  height: 21.25rem;
  float: left;
  background: #f8f8f8;
  position: relative;
}
.cont-two .panel:hover {
  background: #fff;
}
.cont-two .panel > i {
  margin-top: 2.8rem;
  margin-left: 6.25rem;
  display: inline-block;
  width: 4.375rem;
  height: 4.375rem;
}
.cont-two .panel .p1 {
  margin: 0 auto;
  margin-top: 0.2rem;
  width: 7.5rem;
  height: 1.875rem;
  text-align: center;
  line-height: 1.875rem;
  color: #78817e;
  font-weight: 600;
}
.cont-two .panel .p2 {
  padding: 2.65rem 1.375rem;
  width: 83%;
  height: 6.25rem;
  word-wrap: break-word;
  text-align: center;
  color: #919191;
  font-size: 0.9rem;
  line-height: 1.3rem;
}
.cont-two .panel .p2:hover {
  cursor: default;
  text-decoration: underline;
}
.cont-two .panel > span {
  display: inline-block;
  width: 12.625rem;
  height: 3.438rem;
  text-align: center;
  line-height: 3.438rem;
  background: #e56a2e;
  color: #fbfff1;
  position: absolute;
  top: 19.375rem;
  left: 2.18rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 1px 2px 1px #da5528;
  -moz-box-shadow: 1px 2px 1px #da5528;
  -webkit-box-shadow: 1px 2px 1px #da5528;
}
.cont-two .panel > span:hover {
  cursor: pointer;
  background: #85d186;
  box-shadow: 1px 2px 1px #88b284;
  -moz-box-shadow: 1px 2px 1px #88b284;
  -webkit-box-shadow: 1px 2px 1px #88b284;
}
.cont-two .panel > span > a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}
.rotate {
  margin: 0 auto;
  width: 80%;
  height: 35.5rem;
}
.rot-one {
  margin-top: 3.3rem;
  height: 5.6rem;
  text-align: center;
}
.rot-one > span {
  display: inline-block;
  width: 37.5rem;
  height: 2.5rem;
  font-size: 2.55rem;
  color: #e56a2e;
}
.rot-one > p {
  display: inline-block;
  width: 46.875rem;
  height: 1.875rem;
  color: #919191;
  font-size: 0.9rem;
  line-height: 1.875rem;
}
.rot-one > p:hover {
  cursor: default;
}
.rot-two {
  margin-top: 3.25rem;
  height: 23.1rem;
}
.rot-two > article {
  padding: 0.313rem 8.438rem;
  position: relative;
}
.rot-two > article > div > ul > li {
  border: 0.313rem solid #c3c7ca;
  border-top: 2.813rem solid #c3c7ca;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  box-shadow: 1px 2px 1px #c3c7ca;
  -moz-box-shadow: 1px 2px 1px #c3c7ca;
  -webkit-box-shadow: 1px 2px 1px #c3c7ca;
}
.rot-two > article > div > ul > li > .post-i-frist {
  width: 0.938rem;
  height: 0.938rem;
  background: #ecedf1;
  position: absolute;
  top: -1.875rem;
  left: 1.25rem;
  border-radius: 0.938rem;
  -webkit-border-radius: 0.938rem;
  -moz-border-radius: 0.938rem;
}
.rot-two > article > div > ul > li > .post-i-second {
  width: 0.938rem;
  height: 0.938rem;
  background: #ecedf1;
  position: absolute;
  top: -1.875rem;
  left: 2.813rem;
  border-radius: 0.938rem;
  -webkit-border-radius: 0.938rem;
  -moz-border-radius: 0.938rem;
}
.rot-two > article > div > ul > li > .post-i-thrid {
  width: 0.938rem;
  height: 0.938rem;
  background: #ecedf1;
  position: absolute;
  top: -1.875rem;
  left: 4.375rem;
  border-radius: 0.938rem;
  -webkit-border-radius: 0.938rem;
  -moz-border-radius: 0.938rem;
}
.rot-two > article > div > ul > li > .post-i-forth {
  width: 0.938rem;
  height: 0.375rem;
  background: #ecedf1;
  position: absolute;
  top: -1.563rem;
  left: 38.125rem;
  border-radius: 0.938rem;
  -webkit-border-radius: 0.938rem;
  -moz-border-radius: 0.938rem;
}
.page {
  margin: 0 auto;
  width: 80%;
  height: 32.6rem;
}
.page-one {
  height: 22.5rem;
}
.page-one .page-txt-one {
  width: 20.313rem;
  height: 16.25rem;
  float: left;
}
.page-one .page-txt-one > p {
  height: 2.188rem;
  color: #848f8b;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2.188rem;
}
.page-one .page-txt-one > p:hover {
  cursor: default;
}
.page-one .page-txt-one > ul {
  margin-top: 1.563rem;
  height: 11.25rem;
}
.page-one .page-txt-one > ul > li {
  margin-top: 0.625rem;
  font-size: 0.95rem;
  color: #848f8b;
}
.page-one .page-txt-one > ul > li:hover {
  color: #e56a2e;
  cursor: pointer;
  text-decoration: underline;
}
.page-one .page-txt-two {
  margin-left: 1.563rem;
  width: 35rem;
  height: 16.25rem;
  float: left;
}
.page-one .page-txt-two .page-wo-on {
  padding: 0.625rem 0.938rem;
  height: 3.75rem;
  word-wrap: break-word;
  font-size: 0.875rem;
  text-align: left;
  line-height: 1.25rem;
}
.page-one .page-txt-two .page-wo-on > a {
  color: #e56a2e;
  text-decoration: underline;
}
.page-one .page-txt-two .page-wo-on > a:hover {
  color: #85d186;
  box-shadow: 1px 0px 1px #88b284;
  -moz-box-shadow: 1px 0px 1px #88b284;
  -webkit-box-shadow: 1px 0px 1px #88b284;
}
.page-one .page-txt-two .page-wo-down {
  margin-top: 2.188rem;
  height: 6.375rem;
  /*page-down-1 .end */
  /*page-down-2 .end */
  /*page-down-3 .end */
  /*page-down-4 .end */
}
.page-one .page-txt-two .page-wo-down .page-down-one {
  width: 7.625rem;
  height: 6.375rem;
  float: left;
}
.page-one .page-txt-two .page-wo-down .page-down-one > i {
  display: inline-block;
  width: 7.625rem;
  height: 3.75rem;
  background-image: url(../images/hp-1.png);
  background-repeat: no-repeat;
  background-position: center;
}
.page-one .page-txt-two .page-wo-down .page-down-one > span {
  margin-top: 0.5rem;
  display: inline-block;
  width: 7.625rem;
  height: 1.875rem;
  color: #7e8985;
  text-align: center;
  line-height: 1.875rem;
  font-weight: 600;
}
.page-one .page-txt-two .page-wo-down .page-down-two {
  margin-left: 20px;
  width: 7.625rem;
  height: 6.375rem;
  float: left;
}
.page-one .page-txt-two .page-wo-down .page-down-two > i {
  display: inline-block;
  width: 7.625rem;
  height: 3.75rem;
  background-image: url(../images/hp-2.png);
  background-repeat: no-repeat;
  background-position: center;
}
.page-one .page-txt-two .page-wo-down .page-down-two > span {
  margin-top: 8px;
  display: inline-block;
  width: 7.625rem;
  height: 1.875rem;
  color: #7e8985;
  text-align: center;
  line-height: 1.875rem;
  font-weight: 600;
}
.page-one .page-txt-two .page-wo-down .page-down-three {
  margin-left: 1.25rem;
  width: 7.625rem;
  height: 6.375rem;
  float: left;
}
.page-one .page-txt-two .page-wo-down .page-down-three > i {
  display: inline-block;
  width: 7.625rem;
  height: 3.75rem;
  background-image: url(../images/hp-3.png);
  background-repeat: no-repeat;
  background-position: center;
}
.page-one .page-txt-two .page-wo-down .page-down-three > span {
  margin-top: 0.5rem;
  display: inline-block;
  width: 7.625rem;
  height: 1.875rem;
  color: #7e8985;
  text-align: center;
  line-height: 1.875rem;
  font-weight: 600;
}
.page-one .page-txt-two .page-wo-down .page-down-four {
  margin-left: 1.25rem;
  width: 7.625rem;
  height: 6.375rem;
  float: left;
}
.page-one .page-txt-two .page-wo-down .page-down-four > i {
  display: inline-block;
  width: 7.625rem;
  height: 3.75rem;
  background-image: url(../images/hp-4.png);
  background-repeat: no-repeat;
  background-position: center;
}
.page-one .page-txt-two .page-wo-down .page-down-four > span {
  margin-top: 0.5rem;
  display: inline-block;
  width: 7.625rem;
  height: 1.875rem;
  color: #7e8985;
  text-align: center;
  line-height: 1.875rem;
  font-weight: 600;
}
.page-one .page-txt-thrid {
  width: 20.313rem;
  height: 16.25rem;
  float: right;
}
.page-one .page-txt-thrid > p {
  height: 2.188rem;
  color: #848f8b;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 2.188rem;
}
.page-one .page-txt-thrid > p:hover {
  cursor: default;
}
.page-one .page-txt-thrid > span {
  margin-top: 1.25rem;
  padding: 0.75rem 1rem;
  display: inline-block;
  width: 90%;
  height: 6.25rem;
  word-wrap: break-word;
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.563rem;
}
.page-one .page-txt-thrid > i {
  margin-left: 3.625rem;
  display: inline-block;
  width: 6.875rem;
  height: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
  color: #6eb45e;
  font-size: 1rem;
  font-weight: 600;
}
.page-one .page-txt-forth {
  width: 100%;
  height: 3.125rem;
  float: left;
}
.page-one .page-txt-forth .page-forth-rl {
  display: inline-block;
  width: 10rem;
  height: 2.5rem;
  float: left;
  line-height: 2.5rem;
  font-size: 1.063rem;
  font-weight: 600;
  color: #818181;
}
.page-one .page-txt-forth .page-forth-mid {
  width: 62.5rem;
  height: 2.5rem;
  float: left;
  position: relative;
}
.page-one .page-txt-forth .page-forth-mid > i {
  display: inline-block;
  width: 0.625rem;
  height: 0.625rem;
  background: #e3e3e3;
  position: absolute;
  top: 0.938rem;
  left: 0.375rem;
  border-radius: 0.938rem;
  -webkit-border-radius: 0.938rem;
  -moz-border-radius: 0.938rem;
}
.page-one .page-txt-forth .page-forth-mid > p {
  display: inline-block;
  width: 60rem;
  height: 0.313rem;
  border-bottom: 0.188rem solid #e3e3e3;
  position: absolute;
  top: 0.875rem;
  left: 1.438rem;
}
.page-one .page-txt-forth .page-forth-lf {
  display: inline-block;
  width: 4.688rem;
  height: 2.5rem;
  float: right;
}
.page-one .page-txt-forth .page-forth-lf > i {
  margin-top: 0.563rem;
  margin-left: 0.563rem;
  display: inline-block;
  width: 1.375rem;
  height: 1.375rem;
  text-align: center;
  line-height: 1.375rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: #f1f1f1;
  background: #758a83;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.page-one .page-txt-forth .page-forth-lf > i:hover {
  background: rgba(112, 133, 126, 0.65);
  cursor: pointer;
}
.page-two {
  height: 9.85rem;
}
.page-two > div {
  width: 10.938rem;
  height: 5.875rem;
  float: left;
}
.page-two > .opt {
  margin-left: 2.5rem;
}
.footer {
  width: 100%;
  height: 22rem;
}
.foot-one {
  height: 18.75rem;
  background: #70c570;
}
.foot-one > i {
  display: inline-block;
  width: 100%;
  height: 1.438rem;
  background-image: url('../images/stripe.png');
  background-repeat: repeat-x;
}
.foot-one .foot-details {
  margin-left: 10%;
  display: inline-block;
  width: 80%;
  height: 17.188rem;
}
.foot-one .foot-details .details-one {
  width: 25rem;
  height: 16.875rem;
  float: left;
  color: #f1f1f1;
}
.foot-one .foot-details .details-one .logo-foot {
  padding: 5px 10px;
  width: 90%;
  height: 3.125rem;
  line-height: 3.125rem;
}
.foot-one .foot-details .details-one .logo-foot > .logo-1 {
  font-weight: bold;
  font-size: 2rem;
}
.foot-one .foot-details .details-one .logo-foot > .logo-2 {
  font-size: 1.6rem;
}
.foot-one .foot-details .details-one .details-onetxt {
  padding: 0.625rem;
  width: 90%;
  height: 5.625rem;
  word-wrap: break-word;
  line-height: 1.563rem;
  font-size: 0.85rem;
}
.foot-one .foot-details .details-one .details-information {
  margin-left: 0.625rem;
  width: 90%;
  height: 5rem;
  font-size: 0.85rem;
}
.foot-one .foot-details .details-one .details-information > i {
  font-size: 1.3rem;
  font-style: italic;
}
.foot-one .foot-details .details-one .details-information > i:hover {
  cursor: default;
  text-decoration: underline;
}
.foot-one .foot-details .details-two {
  width: 14.063rem;
  height: 16.875rem;
  float: left;
  color: #f1f1f1;
}
.foot-one .foot-details .details-two > i {
  display: inline-block;
  height: 3.75rem;
  line-height: 3.75rem;
  font-size: 1.35rem;
  font-weight: 600;
  color: #3b682f;
}
.foot-one .foot-details .details-two > ul {
  margin-top: 0.938rem;
  margin-left: 1.875rem;
  width: 7.5rem;
  height: 9.375rem;
}
.foot-one .foot-details .details-two > ul > li {
  margin-top: 0.5rem;
  height: 1.25rem;
  font-size: 0.4rem;
  line-height: 1.25rem;
}
.foot-one .foot-details .details-two > ul > li:hover {
  cursor: pointer;
  color: #3b682f;
}
.foot-one .foot-details .details-three {
  width: 14.063rem;
  height: 16.875rem;
  float: left;
  color: #f1f1f1;
}
.foot-one .foot-details .details-three > i {
  display: inline-block;
  height: 3.75rem;
  line-height: 3.75rem;
  font-size: 1.35rem;
  font-weight: 600;
  color: #3b682f;
}
.foot-one .foot-details .details-three > ul {
  margin-top: 0.938rem;
  margin-left: 1.875rem;
  width: 7.5rem;
  height: 9.375rem;
}
.foot-one .foot-details .details-three > ul > li {
  margin-top: 0.5rem;
  height: 1.25rem;
  font-size: 0.4rem;
  line-height: 1.25rem;
}
.foot-one .foot-details .details-three > ul > li:hover {
  cursor: pointer;
  color: #3b682f;
}
.foot-one .foot-details .details-four {
  width: 24.688rem;
  height: 16.875rem;
  float: right;
  color: #e3e3e3;
}
.foot-one .foot-details .details-four .details-four-txt {
  height: 3.75rem;
  font-size: 1.3rem;
  font-style: italic;
  line-height: 3.75rem;
}
.foot-one .foot-details .details-four .details-four-txt > i {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
}
.foot-one .foot-details .details-four .details-fourpic {
  height: 5rem;
}
.foot-one .foot-details .details-four .details-fourpic > i {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  float: left;
  background-image: url(../images/hp_foot_pic_03.png);
  background-repeat: no-repeat;
  background-position: center;
}
.foot-one .foot-details .details-four .details-fourpic > p {
  margin-left: 1.25rem;
  margin-top: 0.625rem;
  width: 17.5rem;
  height: 2.5rem;
  float: left;
  font-size: 0.85rem;
  word-wrap: break-word;
  line-height: 1.25rem;
}
.foot-one .foot-details .details-four .details-fourpic > p:hover {
  cursor: pointer;
  text-decoration: underline;
}
.foot-one .foot-details .details-four .details-fourpic > span {
  margin-top: 0.313rem;
  margin-left: 1.25rem;
  display: inline-block;
  height: 1.25rem;
  font-size: 0.9rem;
  line-height: 1.25rem;
  color: #3b682f;
}
.foot-one .foot-details .details-four > .two {
  margin-top: 0.75rem;
}
.foot-two {
  height: 3.25rem;
  background: #65b166;
}
.foot-two .toot-timer {
  margin-left: 10%;
  display: inline-block;
  width: 10.313rem;
  height: 3.125rem;
  text-align: center;
  line-height: 3.125rem;
  color: #f1f1f1;
  float: left;
  font-size: 0.85rem;
}
.foot-two .toot-timer:hover {
  cursor: default;
}
.foot-two .foot-two-logo {
  width: 15.625rem;
  height: 3.25rem;
  margin-left: 74%;
}
.foot-two .foot-two-logo > li {
  margin-top: 0.313rem;
  margin-left: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  float: left;
  font-size: 2.1rem;
  text-align: center;
  line-height: 3.1rem;
  color: #fff;
}
